package profile

import "github.com/chrille0234/auth/database/models"
import "github.com/chrille0234/auth/views/layout"

templ Profile(user models.User) {
    @layout.Layout("Profile"){
      <h1>Profile</h1>
      <p>Username: {user.FirstName} {user.LastName}</p>
      <p>Email: {user.Email}</p>
    }
}
